/Recorder/Debug/*.*
/Recorder/Debug_DLL/*.*
/Recorder/Release/*.*
/Recorder/Release_DLL/*.*
/Test/Debug_DLL/*.*
/Test/Release_DLL/*.*
/Recorder/*.wav
/Recorder/*.264
/Recorder/*.pcm
/Recorder/*.aac
/helpers
/Bin
*.db
*.usr
*.user
.vs
/2node/build
/2node/node_modules/.yarn-integrity
/2node/yarn.lock
/2node/save.mp4
/2node/platform/win32/recorder.node
/2node/node_modules
/2node/package-lock.json
/2node/save.mkv
/2node/platform/win32/recorder.dll
/2node/platform/win32/recorder.lib